@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'SBAggroB';
}
li{
    list-style-type: none;
    padding: 0 auto;
}
#header{
    height: 100px;
    background-color: white;
}
#status{
    color: white;
    padding-top: 10px;
    text-align: center;
    height: 50px;
}
.slides1 img{
    width: 300px;
    height: 400px;
}
#slideshow1{
    width: 1300px;
    height: 400px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
}
.slides1, .slides2{
    position: absolute;
    left: 0;
    top: 0;
    width: 5000px;
    transition: left 0.7s ease-out;
}
.slides1 li:first-child{
    margin-left: 100px;
}
.slides1 li:not(:last-child){
    float: left;
    margin-right: 100px;
}
.slides1 li, .slides2 li{
    position: relative;
    float: left;
}
.controller span{
    position: absolute;
    background-color: black;
    color: #7F5AF0;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    font-size: 1.3em;
    cursor: pointer;
    opacity: 0.5;
    border: 1px solid;
}
.controller span:hover{
    background-color: #7F5AF0;
    color: black;
}
.prev{
    left: 20px;
    display: none;
}
.next{
    right: 20px;
}
.slides1 .caption1{
    position: absolute;
    top: 450px;
    width: 300px;
    height: 400px;
    padding-top: 20px;
    background: black;
    /* opacity: 0; */
    transition: all 0.5s ease;
}
.slides1 li:hover .caption1{
    opacity: 0.8;
    transform: translateY(-450px);
}
.slides1 .caption1, .slides2 .caption2{
    color: white;
    text-align: center;
}
.slides1 .movie1, .slides2 .movie2{
    text-align: center;
    color: #7F5AF0;
}
.slides2 img{
    width: 200px;
    height: 300px;
}
#slideshow2{
    width: 1300px;
    height: 400px;
    position: relative;
    margin: 25px auto;
    overflow: hidden;
}
.slides2 li:first-child{
    margin-left: 50px;
}
.slides2 li:not(:last-child){
    float: left;
    margin-right: 50px;
}
.slides2 .caption2{
    position: absolute;
    top: 0px;
    width: 200px;
    height: 300px;
    padding-top: 20px;
    background: black;
    opacity: 0;
    transition: all 0.5s ease;
}
.slides2 li:hover .caption2{
    opacity: 0.8;
}


#closing{
    height: 500px;
    background-color: blue;
}
#footer{
    height: 150px;
    background-color: white;
}