@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family : 'NEXON Lv1 Gothic OTF';
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: #E9E9E9;
}


h2 {
    margin-top: 3%;
    margin-left: 40%;
    font-size: 2vmax;
}

#post {
    
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    width: 40vmax;
    height: 55vmax;
    background-size: cover;
}

#movie_comimp {
    
    margin-top: 3%;
    margin-left: 55%;

    width: 35vmax;
    height: 55vmax;
    background-image: url("../img/paper4.jpeg");
    background-size: cover;
    box-shadow: 0px 0px 7px rgb(54, 54, 54);
}

img {
    max-width: 100%;
    max-height: 100%;
}

#movie_ticket{
    float: left;
    margin-top: 5%;
    margin-left: 30%;
    text-align: center;
    font-size: 2vmax;
}

#quality {
    float: left;
    margin-top: 5%;
    margin-left: 9%;
    text-align: center;
    height: 3vmax;
    width: 20%;
    
    
}

#age_limit {
    
    margin-top: 5%;
    margin-left: 40%;
    float: left;
    text-align: center;
    height: 3vmax;
    width: 20%;
    
}


#movie_title {
    
   
    float: left;
    margin-top: 5%;
    margin-left: 10%;
    height: 2vmax;
    width: 80%;
    
}
#movie_dir {
    
   
    float: left;
    margin-top: 2%;
    margin-left: 10%;
    height: 2vmax;
    width: 80%;
    
}
#movie_act {
    
   
    float: left;
    margin-top: 1%;
    margin-left: 10%;
    height: 2vmax;
    width: 80%;
    
}


#w_time {
    
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    height: 3vmax;
    width: 80%;
    font-size: 1.3vmax;
}

#pay_num {
    
    float: left;
    margin-top: 1%;
    margin-left: 10%;
    height: 3vmax;
    width: 80%;
}

#precaution {
    
    float: left;
    margin-top: 5%;
    margin-left: 10%;
    height: 20vmax;
    width: 80%;
    color: rgb(167, 0, 0);
    font-weight: 900;
    overflow: scroll;

}

#mypagebutton {
    margin-top: 3%;
    margin-left: 38%;
    margin-bottom: 5%;
    width: 20vmax;
    height: 5vmax;
    font-size: 1.2vmax;
}