@charset "UTF-8";


* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    }

header {
       background-color: blue;
       height: 5vmax;
}

h2 {
    margin-top: 3%;
    margin-left: 40%;
}

#post {
    background-color: dimgray;
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    width: 40vw;
    height: 50vmax;
}

#movie_comimp {
    background-color: rgb(23, 0, 156);
    margin-top: 3%;
    margin-left: 50%;

    width: 40vw;
    height: 50vmax;
}

img {
    max-width: 100%;
    max-height: 100%;
}


#quality {
    background-color: rgb(255, 255, 255);
    float: left;
    margin-top: 3%;
    margin-left: 3%;
    text-align: center;
    height: 3vmax;
    width: 20%;
    
}

#age_limit {
    background-color: rgb(255, 255, 255);
    margin-top: 3%;
    margin-right: 3%;
    float: right;
    text-align: center;
    height: 3vmax;
    width: 20%;
}


#movie_title {
    
    background-color: rgb(99, 99, 99);
    float: left;
    margin-top: 5%;
    margin-left: 10%;
    height: 5vmax;
    width: 80%;
    
}

#w_time {
    background-color: rgb(110, 0, 0);
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    height: 5vmax;
    width: 80%;
}

#pay_num {
    background-color: rgb(94, 94, 94);
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    height: 5vmax;
    width: 80%;
}

#precaution {
    background-color: rgb(110, 0, 0);
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    height: 20vmax;
    width: 80%;
}

button {
    margin-top: 3%;
    margin-left: 38%;
    margin-bottom: 5%;
    width: 20vmax;
    height: 5vmax;
}