
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    }

header {
       background-color: blue;
       height: 5vmax;
}
#movie_detail {
    float: left;
    width: 40vw;
    height: 40vmax;
    margin-left: 13vmax;
    margin-top: 6vmax;
    margin-bottom: 6vmax;

    border-radius: 1.5vmax;
    border: 5px solid black;

}



#c_movie {
    
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    height: 5vmax;
    
    border: 2px solid black;
}

#movie_title{
    font-size: 1.5vmax;
}
#t_movie {
    
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    height: 3vmax;
    border: 2px solid black;
}

#p_price {
    
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    height: 3vmax;
    border: 2px solid black;
}

#coupon {
    
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    height: 8vmax;
    border: 2px solid black;
    overflow:scroll;
}

#point {
    
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    height: 3vmax;
    border: 2px solid black;
}

#result_pay {
    
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    height: 5vmax;
    border: 2px solid black;
}


#payment_type {
    box-sizing: border-box;
    
    float: right;
    width: 20%;
    height: 40vmax;
    margin-right: 18vmax;
    margin-top: 6vmax;
    border: 5px solid black;
    border-radius: 1.5vmax;
}

#kakaoapibtn {
    margin-top: 30%;
    margin-left: 25%;
    height: 25%;
    width: 50%;
    object-fit: cover;
    border-radius: 1.5vmax;
}

#naverapibtn {
    margin-top: 30%;
    margin-left: 25%;
    height: 25%;
    width: 50%;
    object-fit: cover;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1.5vmax;
}
