
* {
margin: 0;
padding: 0; 
box-sizing: border-box; 
}

header {
    position: relative;
    top : 0;
    left : 0;
    margin-left: 40px;
    width : 100px;
    height: 80px; 
}

header h4 {
    position: absolute;
    left : 10%;
    bottom: 1rem ;
    font-size: 1.6rem; 
}

/* Splash Screens  */

.intro{ 
    position: fixed;
    z-index: 1;
    left : 0;
    top : 0;
    width : 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 43%;
    left: 47%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}
 
.logo{
    position: relative;
    display: inline;
    bottom: -20px;
    opacity: 0;
    font-size: 8vmax;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}