<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <typeAliases>
    	<typeAlias type="com.pcwk.miss.domain.MovieVO" alias="MovieVO"/>
    	<typeAlias type="com.pcwk.miss.cmn.SearchVO" alias="SearchVO"/>
    	<typeAlias type="com.pcwk.miss.movie.domain.NowPlayingVO" alias="NowPlayingVO"/>
    	<typeAlias type="com.pcwk.miss.movie.domain.PlayingSoonVO" alias="PlayingSoonVO"/>
    	<typeAlias type="com.pcwk.miss.movie.domain.WatchMovieVO" alias="WatchMovieVO"/>
    	<typeAlias type="com.pcwk.miss.movie.domain.MovieDetailVO" alias="MovieDetailVO"/>
    	<typeAlias type="com.pcwk.miss.movie.domain.StillCutVO" alias="StillCutVO"/>
    	<typeAlias type="com.pcwk.miss.movie.domain.MovieReviewVO" alias="MovieReviewVO"/>
    	<typeAlias type="com.pcwk.miss.domain.CouponVO" alias="CouponVO"/>
    	<typeAlias type="com.pcwk.miss.movie.domain.MovieListVO" alias="MovieListVO"/>
    	<typeAlias type="com.pcwk.miss.domain.TicketVO" alias = "TicketVO"/>
    	<typeAlias type="com.pcwk.miss.faq.domain.FaqVO" alias="FaqVO"/>
    	<typeAlias type="com.pcwk.miss.pay.domain.ReserveVO" alias="ReserveVO"/>
    	<typeAlias type="com.pcwk.miss.domain.MemberVO" alias="MemberVO"/>
    	<typeAlias type="com.pcwk.miss.mypage.domain.HistoryVO" alias="HistoryVO"/>
    	<typeAlias type="com.pcwk.miss.mypage.domain.MemberInfoVO" alias="MemberInfoVO"/>
    	<typeAlias type="com.pcwk.miss.domain.ImageVO" alias="ImageVO"/>
    </typeAliases>
</configuration>